In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
!pwd

/home/kunalkumarsahoo/Playground/Python/MLDLS2022/Assignment-1/Multivariate-Linear-Regression

In [3]:
df = pd.read_csv('train.csv')

In [4]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [5]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [6]:
# dropping unnecessary attributes
unnecessary_cols = ["Name", "PassengerId", "Parch", "Ticket", "Cabin", "Embarked"]
df.drop(unnecessary_cols, axis=1, inplace=True)
df.columns

Index(['Survived', 'Pclass', 'Sex', 'Age', 'SibSp', 'Fare'], dtype='object')

In [7]:
# Drop all the records with NaN as a value
df = df.dropna()

In [8]:
df.head()

   Survived  Pclass     Sex   Age  SibSp     Fare
0         0       3    male  22.0      1   7.2500
1         1       1  female  38.0      1  71.2833
2         1       3  female  26.0      0   7.9250
3         1       1  female  35.0      1  53.1000
4         0       3    male  35.0      0   8.0500

In [9]:
X = df.iloc[:, 1:].values
Y = df.iloc[:, 0].values

print(X, Y, sep='\n')

[[3 'male' 22.0 1 7.25]
 [1 'female' 38.0 1 71.2833]
 [3 'female' 26.0 0 7.925]
 ...
 [1 'female' 19.0 0 30.0]
 [1 'male' 26.0 0 30.0]
 [3 'male' 32.0 0 7.75]]
[0 1 1 1 0 0 0 1 1 1 1 0 0 0 1 0 0 0 1 1 1 0 1 0 0 0 0 0 0 0 1 0 0 1 1 0 0
 0 1 1 0 1 0 1 0 0 1 0 0 1 0 1 0 0 0 0 0 1 0 1 1 0 1 0 1 1 0 1 0 0 0 0 0 0
 0 1 1 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 1 1 0 0 0 0 1 0 0 1 0 0
 0 1 1 0 0 0 1 0 0 0 0 1 0 0 0 1 0 0 1 0 0 0 1 0 0 0 0 1 0 0 0 0 0 0 0 1 1
 1 0 0 1 0 1 1 1 1 0 0 0 0 0 1 0 0 1 1 1 0 1 0 0 1 1 0 1 0 1 0 0 1 0 1 0 0
 1 0 0 1 0 0 1 0 0 0 0 0 0 0 1 1 0 0 0 0 0 1 1 1 1 1 0 0 0 0 1 1 1 1 1 0 1
 0 0 1 0 0 0 1 0 1 0 1 1 1 1 0 0 0 0 0 1 0 1 1 0 1 1 1 0 0 0 1 1 0 1 1 0 0
 1 1 1 0 1 1 1 0 0 0 0 1 1 0 1 1 0 0 0 1 1 1 0 0 0 0 0 1 0 0 0 0 0 0 1 1 1
 0 0 0 0 1 0 0 0 1 1 0 1 0 0 1 1 1 1 0 1 1 0 0 0 0 1 1 0 0 0 0 0 0 1 0 1 1
 1 1 0 0 0 0 0 0 1 1 1 1 1 0 0 1 0 1 0 0 1 0 0 1 1 1 1 1 1 0 0 1 1 0 1 1 0
 0 0 0 0 1 0 1 1 0 0 0 0 1 0 0 1 1 1 0 0 1 0 0 0 0 1 0 0 0 0 0 1 0 1 0 1 1
 1 1 0 0 1 1 0 1 0 1 0 1 0 0 1 0 0 1 0 1 1 1 0 0 1 0 0 1 0 1 1 0 1 1 0 1 1
 1 0 0 0 0 0 1 1 1 1 0 0 1 1 1 1 1 0 0 1 0 1 0 0 1 0 0 0 0 1 1 0 1 0 0 1 1
 1 0 0 1 0 0 1 0 0 1 1 0 0 0 0 1 0 1 0 1 0 1 0 0 0 0 1 0 1 1 0 1 1 1 0 0 0
 0 0 0 1 0 0 0 1 0 0 0 1 0 0 1 0 0 1 0 1 1 0 0 0 0 0 0 0 1 1 1 0 0 0 0 0 0
 1 1 0 0 0 0 1 1 1 1 1 0 0 0 1 1 0 1 0 0 0 1 0 1 0 0 1 0 0 0 0 0 1 0 1 0 1
 0 0 1 0 0 1 1 0 0 1 1 0 0 0 1 0 1 1 0 1 0 0 0 0 0 1 0 1 1 1 1 0 0 0 1 0 1
 0 0 0 0 1 1 0 0 0 1 1 1 1 0 0 0 0 1 0 0 0 0 0 0 0 0 0 1 1 0 1 0 1 1 1 1 0
 0 1 0 1 0 0 1 0 0 0 0 0 0 0 0 1 0 1 1 1 1 0 0 1 0 1 1 0 1 0 1 0 0 1 1 0 0
 1 1 0 0 0 0 0 0 1 1 0]

In [10]:
# convert string based values to integers
for record in X:
    if record[1] == 'male':
        record[1] = 0
    elif record[1] == 'female':
        record[1] = 1

In [11]:
from sklearn.model_selection import train_test_split

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.33, random_state=1000)

In [15]:
from sklearn.linear_model import LinearRegression

regressor = LinearRegression()
regressor.fit(X_train, Y_train)

LinearRegression()

In [16]:
predictor = regressor.predict(X_test)

In [17]:
regressor.coef_, regressor.intercept_

(array([-2.00215965e-01,  4.69413132e-01, -6.79691587e-03, -5.81998090e-02,
         3.75791854e-04]),
 0.9020071444260709)

In [23]:
print(predictor)

[ 0.83219893  0.99980283  0.10016687  0.88923218  0.04572578  0.39677038
  0.89506699  0.50894454  0.47937192  0.65134968  0.29481664  0.76829308
  1.08424177  0.4403318   0.61728055  1.07879165  0.90802292  0.0083452
  0.8778566   0.47218086  0.60037307  0.16153013  0.37783103  0.29976834
  0.35013144  0.28328293  0.40685143  0.47377775  0.08411225  0.30742201
  0.61097216  0.52767033  0.88959382  0.31633476  0.15450462  0.79565789
  0.44350838  0.38551649  0.22099004  0.43792983  0.6316815   0.01151573
  0.45430711  0.10717047  0.56301953  0.71194868  0.33653761  0.40259515
  0.51595438  0.10727381  0.03090902  0.65712958  0.32804436  0.2201719
  0.78542847  0.34373923  0.00754584  0.32294378 -0.06717198  0.88255726
  0.17603995  0.19563372  0.34402713  0.16155519  0.23365337  0.65651219
  0.64963135  1.01887707  0.18906698  0.61679186  0.75646071  0.08031632
  0.18775705  0.30496178  0.13785994  1.03412071  0.17518503  0.63708866
  0.03925768  0.50701307  0.54971744  0.33114116  0.97748523  0.51578373
  0.34616959  0.29035967  0.93327447  0.50863243  0.15302088  0.05312524
  0.12077212  0.43003076  0.74383902 -0.0182326   0.10016845  0.24409444
  1.07725986  0.58638272  0.1004769   0.5166376   0.60317064  0.53440452
 -0.0635481   0.66065812  0.92252755  0.16837248  0.19617862  0.95835584
  0.90648167  1.00003286  0.27006107 -0.13752789  0.76179609  0.16157556
  0.73118467  0.99924326  0.11036382  0.8132989   0.56637884  0.34239505
  0.50958131  0.10716108  0.12756122  0.04530221  0.10041895  0.95699763
  0.15320878  0.14120045  0.7053652   0.17766683  0.57155291  0.1443484
  0.47442238  0.01149512  0.14201857  0.1208097   0.8016339   0.13169963
  0.10720805  0.43955216  0.74147581  0.97894638  0.59775443  0.58809996
  0.44156409  0.10563037  0.78556     1.01808992  0.94260798  0.16899096
  0.46701842  0.10781244  0.06611653  0.63094954  0.40281043  0.23781343
  0.16813761  0.12760662  0.08608371  0.88995638  0.88150938  0.49688361
  0.17475444  0.47150855  0.15520923  0.36380174  0.86893155  0.97123589
  0.07667734  1.04027386  0.15454378  0.69428946  0.12046367  0.1596393
  0.13143635  0.54710866  0.16807027  0.15534076  0.1884892   0.52455538
  0.05963746  0.42540373  0.27345375  0.06614471  0.46782356  0.77196617
 -0.02194117  0.50117833  1.05193996  0.34617362  0.69891854  0.99842355
  0.07998281  0.26526576  0.42853359  0.64459192  0.79341772  0.75943315
  0.61392213  0.94486793  0.32294378  0.54562783  0.09357664  0.09363301
  0.51774047  0.43671146  0.59194366  0.37787034  0.30161355  0.77538303
  0.1136974   0.50868418  0.14431235  0.12108581  0.58370202  0.233776
  0.53879253  0.50089604  0.79141743  0.16164914  0.66492784  0.03589584
  0.85995028  0.1408826  -0.04237107  0.82182723  0.48415684  0.24790014
  0.24138079  0.20166011  0.5297361   0.3236627   0.65642826  0.08680949
  0.61096305  1.0310586 ]

In [24]:
# r2 score
from sklearn.metrics import r2_score

score = r2_score(Y_test, predictor)
print("r2_score: {}")

0.39038768582919015